<h3>Completed trainings:</h3>
<br/>

{{#each weekGroup in completedByWeek}}

  <div class="training-week" style="margin-bottom: 20px;">
    
    <table class="table">
      {{#each training in weekGroup}}
        <tr>
          <td style="width: 20%; padding-left: 20px">
            <span class="label label-info" style="padding-right: 1px;margin-right: 5px">
              {{formatDate training.startedAt format='MMM dd'}}
            </span>
            {{formatDate training.startedAt format='dddd'}}
          </td>
          <td>{{#linkTo trainings.show training}}{{training.title}}{{/linkTo}}</td>
          <td>{{training.startedAtDay}}</td>
        </tr>
      {{/each}}  
    </table>
  
  </div>
{{/each}}
