<div class="button-bar clearfix">
  <div class="pull-left" style="margin-right: 10px">
    {{#linkTo trainings class="btn"}}
      <i class="icon-arrow-left"></i>
      Back to trainings
    {{/linkTo}}
  </div>
</div>
  




<h1>{{title}}</h1>