<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Coach.Me</a>
      
      <div class="nav-collapse">
        <ul class="nav">
          <li>{{#linkTo trainings.index}}My Trainings{{/linkTo}}</li>
          <li><a href="#">Runners</a></li>
        </ul>
        
        <ul class="nav pull-right">
          {{#if App.currentUser}}
            <li><a href="#">{{App.currentUser.email}}</a></li>
            <li><a {{action logout}} href="#">Logout</a></li>
          {{else}}
          
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</div>
