<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Coach.Me</a>
      
      <div class="nav-collapse">
        <ul class="nav">
          <li>{{#linkTo trainings}}My Trainings{{/linkTo}}</li>
          <li><a href="#">Runners</a></li>
        </ul>
        
        <ul class="nav pull-right">
          <li><a href="#">tothda@gmail.com</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
