<h1>Trainings</h1>

<table class="table table-bordered">
  {{#each training in controller}}
    <tr>
      <td>{{training.title}}</td>
      <td>{{training.startedAtDay}}</td>
    </tr>
  {{/each}}  
</table>
