.future-summary-table {
    td {
        border: 1px solid #aaa;
        width: 14%;
    }
    
    .calendar-day {
        color: #aaa;
        font-size: 12px;
        .name-of-day {
            float: left;
            margin-left: -5px;
            margin-top: -8px;
        }    
        .day-of-month {
            float: right;
            margin-right: -5px;
            margin-top: -8px;
        }
        hr {
            margin: 2px;
        }
        &.today {
            background-color: lightyellow;
            .name-of-day, .day-of-month {
                font-weight: bold;
                color: black;
            }
        }
    }
}