  <!-- Modal -->
  <div id="errorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Oooops, something went wrong</h3>
    </div>
    <div class="modal-body">
      <p><strong>Sorry for the inconveniences!</strong> Try refreshing the page!</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">
        <i class="icon-refresh"></i> 
        Refresh
      </button>
    </div>
  </div>
